.gradient-custom {
  background: rgb(61, 54, 135);
  background: linear-gradient(0deg, rgba(61, 54, 135, 1) 0%, rgba(30, 23, 102, 1) 100%);
}

.admin-gradient {

  background: rgb(112, 54, 135);
  background: linear-gradient(0deg, rgba(112, 54, 135, 1) 0%, rgba(102, 23, 68, 1) 100%);
}